@import "~bootstrap/scss/bootstrap";
$myColor: red;

.button {
    transition-duration: 0.4s;
    background-color: blue; /* Green */
    border: solid;
    border-color: black;
    color: white;
    width: 10em;
    height: 10em;
    margin: 0 0 1em 0;
    //padding: 5em 5em 5em 5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: lawngreen; /* Green */
    color: white;
}

#top_phrase{
    margin-bottom: 2em;
}

/*
.Btn-lg {
    padding: 100px 200px;
    font-size: 200px;
    border-radius: 10px;
}*/
